.sky {
    background-color: var(--sky);
}

.gray {
    background-color: var(--gray);
}

.white {
    padding-top: var(--padding-md);
}

.full {
    padding: var(--padding-lg) 0;
}

.full:last-of-type {
    margin-bottom: 1.78rem;
}

.white h2 {
    margin-top: 0;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 48px;
    width: 100%;
}

.card {
    width: 100%;
    height: auto;
    background-color: var(--white);
    box-shadow: 1px 4px 8px var(--shadow);
    border-radius: 6px;
    transition: box-shadow 200ms, transform 200ms;
}

.card:hover {
    box-shadow: 2px 8px 12px var(--shadow);
    transform: translateY(-3px);
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.card div {
    padding: 1rem;
}

.card div h3 {
    margin: 0;
}

.resume p {
    max-width: none;
}

.resume h4 {
    margin: 0 0 0.8rem;
}

.resume h4:nth-of-type(even) {
    margin-top: 1.5rem;
}

.resume h2 {
    margin-top: 2rem;
}

.resume {
    position: relative;
}

.background {
    position: relative;
}

.background svg {
    position: absolute;
    z-index: -9;
}

.top {
    padding: 3rem 0 0;
}

.top svg {
    top: 0px;
}

.bottom {
    padding-bottom: 6rem;
}

.bottom svg {
    bottom: 0px;
}

.svg-sky {
    fill: var(--sky);
}

.svg-gray {
    fill: var(--gray);
}

.head-link {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.head-link h2, .head-link a {
    display: inline-block;
}

.desktop {
    border-radius: 12px;
    margin: 2rem 0;
}

.desktop-sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.desktop-sm img {
    width: 100%;
}

.desktop-md {
    max-width: 65%;
}

.desktop-lg {
    width: 100%;
}
